@import '../../foundation/';

:global {
  .fixedNav {
    :local {
      .globalNav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
      }
    }
  }
}

.globalNav {
  background-color: $color-gray-15;
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  max-width: 80rem;
  width: 100%;
  margin: auto;
  padding: 1rem 2rem;
  max-height: 4.5rem;
}

.logo {
  display: inline-block;
  flex: 1 1;
  width: 174px;

  > img {
  max-height: 100%;
  }
}

.navItems {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.navItem {
  @include below-breakpoint($breakpoint-sm) {
    display: none;
  }
}

.navItem + .navItem {
  margin-left: 1rem;
}

.navLink {
  @include type-component(40);

  text-decoration: none;
  color: $color-white;
  padding: 0.625rem 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.mobileMenu {
  display: none;

  @include below-breakpoint($breakpoint-sm) {
    display: block;
  }

  .activator {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 2.75rem;
    height: 2.75rem;
    display: inline-flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($color-white, 0.15);
    }
  }
}

.menuList {
  background-color: $color-gray-25;
  padding: 1rem;
  border-radius: 0.125rem;

  .link {
    color: $color-white;
    text-decoration: none;
    @include type-component(30);
    padding: 0.5rem 0.25rem;

    &:hover {
      background-color: $color-gray-35;
    }
  }

  .link,
  .menuItem {
    margin-bottom: 1rem;
    display: block;
  }
}
