@import '../../../foundation/';

.featuresModule {
  background-color: $color-gray-15;
  color: $color-white;
}

.content {
  max-width: 80rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include below-breakpoint($breakpoint-sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.header {
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 14;
  margin-bottom: 4rem;

  h2 {
    @include type-title(50, true);
  }

  @include below-breakpoint($breakpoint-sm) {
    grid-column-start: 2;
    grid-column-end: 16;
    margin-bottom: 2rem;
  }
}

.heroImage {
  grid-column-start: 2;
  grid-column-end: 16;
}

.features {
  grid-column-start: 4;
  grid-column-end: 14;

  h3 {
    @include type-title(20, true);

    margin-bottom: 1rem;
  }

  ul {
    @include type-body(50);

    padding-left: 1rem;
    margin-bottom: 3rem;
  }

  @include below-breakpoint($breakpoint-sm) {
    grid-column-start: 2;
    grid-column-end: 16;
  }
}

.ctaContainer {
  grid-column-start: 4;
  grid-column-end: 14;
  text-align: center;
}

.productCarousel {
  grid-column-start: 1;
  grid-column-end: 17;
  margin-bottom: 4rem;
}
